./node_modules
.expo/
node_modules/
android/app/google-services.json
android/build/
android/.idea/
android/.DS_Store
android/.gradle
*.iml
android/local.properties
android/app/build
ios/build
