./node_modules
.expo/
node_modules/
android/app/google-services.json
android/build/
android/.idea/workspace.xml
android/.idea/libraries
android/.idea/caches
android/.DS_Store
android/.gradle
*.iml
android/local.properties
android/app/build

